<div class="container-fluid big-container">
    <div class="row">
        <div class="col-lg-3 bg-white">
        	<form action="" class=""></form>
        </div>
        <div class="col-lg-6 offset-lg-3">
        	<div class="row">
        		<div class="col-lg-10 offset-1">
        			<h1>Si vous pensez que les histoires ne sont pas importantes, attendez jusqu'à ce qu'elles soient tout ce que vous laisserez derrière vous</h1>
        		</div>
        	</div>
        </div>    
    </div>
</div>
